<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allcheer.refmobile.dal.mapper.MPMFEEDOMapper" >
  <resultMap id="BaseResultMap" type="com.allcheer.refmobile.dal.dao.MPMFEEDO" >
    <id column="MEMBER_ID" property="memberId" jdbcType="CHAR" />
    <id column="FEE_CODE" property="feeCode" jdbcType="CHAR" />
    <result column="FEE_STAT" property="feeStat" jdbcType="CHAR" />
    <result column="FEE_FORMULA" property="feeFormula" jdbcType="VARCHAR" />
    <result column="MEMBER_TYPE" property="memberType" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MEMBER_ID, FEE_CODE, FEE_STAT, FEE_FORMULA, MEMBER_TYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.allcheer.refmobile.dal.dao.MPMFEEDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MPMFEE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.allcheer.refmobile.dal.dao.MPMFEEDOKey" >
    select 
    <include refid="Base_Column_List" />
    from MPMFEE
    where MEMBER_ID = #{memberId,jdbcType=CHAR}
      and FEE_CODE = #{feeCode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.allcheer.refmobile.dal.dao.MPMFEEDOKey" >
    delete from MPMFEE
    where MEMBER_ID = #{memberId,jdbcType=CHAR}
      and FEE_CODE = #{feeCode,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.allcheer.refmobile.dal.dao.MPMFEEDOExample" >
    delete from MPMFEE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.allcheer.refmobile.dal.dao.MPMFEEDO" >
    insert into MPMFEE (MEMBER_ID, FEE_CODE, FEE_STAT, 
      FEE_FORMULA, MEMBER_TYPE)
    values (#{memberId,jdbcType=CHAR}, #{feeCode,jdbcType=CHAR}, #{feeStat,jdbcType=CHAR}, 
      #{feeFormula,jdbcType=VARCHAR}, #{memberType,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.allcheer.refmobile.dal.dao.MPMFEEDO" >
    insert into MPMFEE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        MEMBER_ID,
      </if>
      <if test="feeCode != null" >
        FEE_CODE,
      </if>
      <if test="feeStat != null" >
        FEE_STAT,
      </if>
      <if test="feeFormula != null" >
        FEE_FORMULA,
      </if>
      <if test="memberType != null" >
        MEMBER_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId,jdbcType=CHAR},
      </if>
      <if test="feeCode != null" >
        #{feeCode,jdbcType=CHAR},
      </if>
      <if test="feeStat != null" >
        #{feeStat,jdbcType=CHAR},
      </if>
      <if test="feeFormula != null" >
        #{feeFormula,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null" >
        #{memberType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.allcheer.refmobile.dal.dao.MPMFEEDOExample" resultType="java.lang.Integer" >
    select count(*) from MPMFEE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update MPMFEE
    <set >
      <if test="record.memberId != null" >
        MEMBER_ID = #{record.memberId,jdbcType=CHAR},
      </if>
      <if test="record.feeCode != null" >
        FEE_CODE = #{record.feeCode,jdbcType=CHAR},
      </if>
      <if test="record.feeStat != null" >
        FEE_STAT = #{record.feeStat,jdbcType=CHAR},
      </if>
      <if test="record.feeFormula != null" >
        FEE_FORMULA = #{record.feeFormula,jdbcType=VARCHAR},
      </if>
      <if test="record.memberType != null" >
        MEMBER_TYPE = #{record.memberType,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update MPMFEE
    set MEMBER_ID = #{record.memberId,jdbcType=CHAR},
      FEE_CODE = #{record.feeCode,jdbcType=CHAR},
      FEE_STAT = #{record.feeStat,jdbcType=CHAR},
      FEE_FORMULA = #{record.feeFormula,jdbcType=VARCHAR},
      MEMBER_TYPE = #{record.memberType,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.allcheer.refmobile.dal.dao.MPMFEEDO" >
    update MPMFEE
    <set >
      <if test="feeStat != null" >
        FEE_STAT = #{feeStat,jdbcType=CHAR},
      </if>
      <if test="feeFormula != null" >
        FEE_FORMULA = #{feeFormula,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null" >
        MEMBER_TYPE = #{memberType,jdbcType=CHAR},
      </if>
    </set>
    where MEMBER_ID = #{memberId,jdbcType=CHAR}
      and FEE_CODE = #{feeCode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.allcheer.refmobile.dal.dao.MPMFEEDO" >
    update MPMFEE
    set FEE_STAT = #{feeStat,jdbcType=CHAR},
      FEE_FORMULA = #{feeFormula,jdbcType=VARCHAR},
      MEMBER_TYPE = #{memberType,jdbcType=CHAR}
    where MEMBER_ID = #{memberId,jdbcType=CHAR}
      and FEE_CODE = #{feeCode,jdbcType=CHAR}
  </update>
</mapper>