<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allcheer.refmobile.dal.mapper.MPUSRLOGINCTLDOMapper" >
  <resultMap id="BaseResultMap" type="com.allcheer.refmobile.dal.dao.MPUSRLOGINCTLDO" >
    <id column="ORG_ID" property="orgId" jdbcType="CHAR" />
    <id column="LOGIN_ID" property="loginId" jdbcType="VARCHAR" />
    <result column="LOGIN_ID_STAT" property="loginIdStat" jdbcType="CHAR" />
    <result column="LOGIN_ID_TYPE" property="loginIdType" jdbcType="CHAR" />
    <result column="MEMBER_ID" property="memberId" jdbcType="CHAR" />
    <result column="REC_CRET_DTTM" property="recCretDttm" jdbcType="CHAR" />
    <result column="LST_UPD_DTTM" property="lstUpdDttm" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORG_ID, LOGIN_ID, LOGIN_ID_STAT, LOGIN_ID_TYPE, MEMBER_ID, REC_CRET_DTTM, LST_UPD_DTTM
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.allcheer.refmobile.dal.dao.MPUSRLOGINCTLDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MPUSRLOGINCTL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.allcheer.refmobile.dal.dao.MPUSRLOGINCTLDOKey" >
    select 
    <include refid="Base_Column_List" />
    from MPUSRLOGINCTL
    where ORG_ID = #{orgId,jdbcType=CHAR}
      and LOGIN_ID = #{loginId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.allcheer.refmobile.dal.dao.MPUSRLOGINCTLDOKey" >
    delete from MPUSRLOGINCTL
    where ORG_ID = #{orgId,jdbcType=CHAR}
      and LOGIN_ID = #{loginId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.allcheer.refmobile.dal.dao.MPUSRLOGINCTLDOExample" >
    delete from MPUSRLOGINCTL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.allcheer.refmobile.dal.dao.MPUSRLOGINCTLDO" >
    insert into MPUSRLOGINCTL (ORG_ID, LOGIN_ID, LOGIN_ID_STAT, 
      LOGIN_ID_TYPE, MEMBER_ID, REC_CRET_DTTM, 
      LST_UPD_DTTM)
    values (#{orgId,jdbcType=CHAR}, #{loginId,jdbcType=VARCHAR}, #{loginIdStat,jdbcType=CHAR}, 
      #{loginIdType,jdbcType=CHAR}, #{memberId,jdbcType=CHAR}, #{recCretDttm,jdbcType=CHAR}, 
      #{lstUpdDttm,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.allcheer.refmobile.dal.dao.MPUSRLOGINCTLDO" >
    insert into MPUSRLOGINCTL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="loginId != null" >
        LOGIN_ID,
      </if>
      <if test="loginIdStat != null" >
        LOGIN_ID_STAT,
      </if>
      <if test="loginIdType != null" >
        LOGIN_ID_TYPE,
      </if>
      <if test="memberId != null" >
        MEMBER_ID,
      </if>
      <if test="recCretDttm != null" >
        REC_CRET_DTTM,
      </if>
      <if test="lstUpdDttm != null" >
        LST_UPD_DTTM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=CHAR},
      </if>
      <if test="loginId != null" >
        #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="loginIdStat != null" >
        #{loginIdStat,jdbcType=CHAR},
      </if>
      <if test="loginIdType != null" >
        #{loginIdType,jdbcType=CHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=CHAR},
      </if>
      <if test="recCretDttm != null" >
        #{recCretDttm,jdbcType=CHAR},
      </if>
      <if test="lstUpdDttm != null" >
        #{lstUpdDttm,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.allcheer.refmobile.dal.dao.MPUSRLOGINCTLDOExample" resultType="java.lang.Integer" >
    select count(*) from MPUSRLOGINCTL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update MPUSRLOGINCTL
    <set >
      <if test="record.orgId != null" >
        ORG_ID = #{record.orgId,jdbcType=CHAR},
      </if>
      <if test="record.loginId != null" >
        LOGIN_ID = #{record.loginId,jdbcType=VARCHAR},
      </if>
      <if test="record.loginIdStat != null" >
        LOGIN_ID_STAT = #{record.loginIdStat,jdbcType=CHAR},
      </if>
      <if test="record.loginIdType != null" >
        LOGIN_ID_TYPE = #{record.loginIdType,jdbcType=CHAR},
      </if>
      <if test="record.memberId != null" >
        MEMBER_ID = #{record.memberId,jdbcType=CHAR},
      </if>
      <if test="record.recCretDttm != null" >
        REC_CRET_DTTM = #{record.recCretDttm,jdbcType=CHAR},
      </if>
      <if test="record.lstUpdDttm != null" >
        LST_UPD_DTTM = #{record.lstUpdDttm,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update MPUSRLOGINCTL
    set ORG_ID = #{record.orgId,jdbcType=CHAR},
      LOGIN_ID = #{record.loginId,jdbcType=VARCHAR},
      LOGIN_ID_STAT = #{record.loginIdStat,jdbcType=CHAR},
      LOGIN_ID_TYPE = #{record.loginIdType,jdbcType=CHAR},
      MEMBER_ID = #{record.memberId,jdbcType=CHAR},
      REC_CRET_DTTM = #{record.recCretDttm,jdbcType=CHAR},
      LST_UPD_DTTM = #{record.lstUpdDttm,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.allcheer.refmobile.dal.dao.MPUSRLOGINCTLDO" >
    update MPUSRLOGINCTL
    <set >
      <if test="loginIdStat != null" >
        LOGIN_ID_STAT = #{loginIdStat,jdbcType=CHAR},
      </if>
      <if test="loginIdType != null" >
        LOGIN_ID_TYPE = #{loginIdType,jdbcType=CHAR},
      </if>
      <if test="memberId != null" >
        MEMBER_ID = #{memberId,jdbcType=CHAR},
      </if>
      <if test="recCretDttm != null" >
        REC_CRET_DTTM = #{recCretDttm,jdbcType=CHAR},
      </if>
      <if test="lstUpdDttm != null" >
        LST_UPD_DTTM = #{lstUpdDttm,jdbcType=CHAR},
      </if>
    </set>
    where ORG_ID = #{orgId,jdbcType=CHAR}
      and LOGIN_ID = #{loginId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.allcheer.refmobile.dal.dao.MPUSRLOGINCTLDO" >
    update MPUSRLOGINCTL
    set LOGIN_ID_STAT = #{loginIdStat,jdbcType=CHAR},
      LOGIN_ID_TYPE = #{loginIdType,jdbcType=CHAR},
      MEMBER_ID = #{memberId,jdbcType=CHAR},
      REC_CRET_DTTM = #{recCretDttm,jdbcType=CHAR},
      LST_UPD_DTTM = #{lstUpdDttm,jdbcType=CHAR}
    where ORG_ID = #{orgId,jdbcType=CHAR}
      and LOGIN_ID = #{loginId,jdbcType=VARCHAR}
  </update>
</mapper>